.light-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  background-color: #b4c3d6;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  grid-column: span 3;
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid #a1b8ce;
  border-radius: 10px;
  box-shadow: 0 0 1px 3px #415870;
}


.dark-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  background: #566a8f;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  grid-column: span 3;
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid #a1b8ce;
  border-radius: 10px;
  box-shadow: 0 0 1px 3px #415870;
}