.nav {
  display: flex;
  list-style: none;
  gap:20px;
  padding: 10px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav li{
  border: 3px solid #a1b8ce;
  border-bottom: none;
  border-radius: 10px;
  box-shadow: 0 0 1px 3px #415870;
  padding: 10px 10px 20px 10px;
  margin-bottom: -22px;
  min-width: 80px;
  text-align: center;
  background: #b4c3d6
}