.statusContainer {
  border: 3px solid #a1b8ce;
  border-radius: 10px;
  box-shadow: 0 0 1px 3px #415870;

  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background: #566a8f;
}

.statusColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.statusColumn p {
  padding: 3px;
}

.statusColumn p span:first-child {
  text-align: left;
  background: transparent;
}

.statusColumn p span:last-child {
  text-align: right;
  border-radius: 4px;
}

/* .statusNumbers, */
.statusText {
    background: #4d5d81;
    color: #f4fdff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}

.totalAtk {
  color: #eeba49;
}

.totalAtk1 {
  color: #eeba49;
  grid-column: span 3;
  gap: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}