

/* .equipsStatusDescription, */
/* .statusContainer, */
.characterLayout {
    border: 3px solid #a1b8ce;
    border-radius: 10px;
    box-shadow: 0 0 1px 3px #415870;
}

.pageLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.characterLayout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    background-color: #b4c3d6;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    grid-column: span 3;
}

.equipmentLeft {
    justify-content: start;
}

.equipmentLeft,
.equipmentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;

}

.equipmentLeft button, 
.equipmentRight button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer;
}

.equipmentLeft img,
.equipmentRight img {
    width: 70px;
    height: 70px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
}

/* Character Display */
.characterDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.characterDisplay img {
    max-width: 100%;
    height: auto;
}

/* Right Equipment Section with 2 columns */
.equipmentRight {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    justify-content: end;
}


/* Bottom Stats Section */
.statusContainer {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background: #566a8f;

}

/* .statusColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
} */

.statusNumbers {
    text-align: end;
}

.statusNumbers p {
    text-indent: -30px;
}
/* 
.statusNumbers,
.statusText {
    background: #4d5d81;
    color: #f4fdff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
} */

/* .ataqueTotal {
    color: #eeba49;
} */

/* .statusColumn p {
    padding: 3px;
}

.statusColumn p span:first-child {
    text-align: left;
    background: transparent;
}

.statusColumn p span:last-child {
    text-align: right;
    border-radius: 4px;
} */


/* .equipsStatusDescription {
    color: #f4fdff;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #566a8f;
    border-radius: 10px;
    box-shadow: 0 0 1px 3px #415870;
    grid-column: span 3;
    padding: 20px;
} */

/* .column>h3,
.equipsProps {
    background: #4d5d81;
    border-radius: 10px;
}

.column>h3 {
    padding: 10px;
    text-align: center;
} */

/* .equipsProps {
    margin-top: 10px;
    padding: 10px 0;
} */

/* .equipsProps p {
    line-height: 1.4;
    padding: 0 10px;
} */

/* .equipsProps p:first-child {
    margin-bottom: 5px;
    border-bottom: 1px solid #a1b8ce;
    padding-bottom: 10px;
} */

.checkedConjunto {
    color: #eeba49
}

.tabs {
    grid-column: span 3;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 20px;
}

.tabButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.tabButton:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .characterLayout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 10px;
    }

    .statusInfo {
        flex-direction: column;
    }

    .status-column {
        width: 100%;
    }

    .equipmentLeft,
    .equipmentRight {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 5px;
    }

    .equipmentRight {
        grid-template-columns: repeat(2, 1fr);
    }

    .characterDisplay img {
        width: 150px;
        height: auto;
    }
}